# Default
* text=auto

# DOS line endings
*.bat  text eol=crlf
*.ps1  text eol=crlf
*.psd1 text eol=crlf

# Unix line endings
*.sh text eol=lf
Dockerfile text eol=lf

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.gif  binary
*.png  binary
*.exe  binary
