---
name: Build

on:
  push:
    branches: [main, release-*]
  pull_request:

jobs:
  build:
    name: Build and test on go ${{ matrix.go_version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: [1.16, 1.17]
        os: [ubuntu-latest, macOS-latest, windows-latest]
    steps:
      - name: Set up Go ${{ matrix.go_version }}
        uses: actions/setup-go@f6164bd8c8acb4a71fb2791a8b6c4024ff038dab
        with:
          go-version: ${{ matrix.go_version }}
        id: go

      - name: Determine cache locations
        id: go-cache-paths
        run: |
          echo "::set-output name=go-build::$(go env GOCACHE)"
          echo "::set-output name=go-mod::$(go env GOMODCACHE)"

      - name: Check out code
        uses: actions/checkout@dcd71f646680f2efd8db4afa5ad64fdcba30e748
        with:
          fetch-depth: 0

      - name: Go Build Cache
        uses: actions/cache@4b0cf6cc4619e737324ddfcec08fff2413359514
        with:
          path: ${{ steps.go-cache-paths.outputs.go-build }}
          key: ${{ matrix.os }}-go-${{ matrix.go_version }}-build-${{ hashFiles('**/go.sum') }}

      - name: Go Module Cache
        uses: actions/cache@4b0cf6cc4619e737324ddfcec08fff2413359514
        with:
          path: ${{ steps.go-cache-paths.outputs.go-mod }}
          key: ${{ matrix.os }}-go-${{ matrix.go_version }}-mod-${{ hashFiles('**/go.sum') }}

      - name: Get dependencies
        run: go mod download

      - name: Build
        run: make build

      - name: Test
        run: make test
