---
name: Tag

on:
  push:
    branches: [main, release-*]

jobs:
  tag:
    name: Tag release commit
    if: "${{ startsWith(github.event.head_commit.message, 'release: ') }}"
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
        with:
          go-version: stable
          cache: true

      - name: Configure git
        env:
          AUTHOR_EMAIL: ${{ github.event.head_commit.author.email }}
          AUTHOR_NAME: ${{ github.event.head_commit.author.name }}
        run: |
          git config --local user.email "${AUTHOR_EMAIL}"
          git config --local user.name "${AUTHOR_NAME}"

      - name: Tag commit
        run: |
          make build
          build/linux/gotagger -push
